$primary_color: #742d6c;
$secondary_color: #F8F4EC;
$general_text_color: #102542;
$option_text_color: #494949;

$primary_font_size: 48px;
$pricing_font_size: 30px;
$primary_font_size_mobile: 34px;
$promo_font_size: 14px;
$general_font_size: 16px;
$button_font_size: 18px;
$option_font_size: 15px;

$breakpoint_large: 1366px;
$breakpoint_medium: 768px;
$breakpoint_small: 320px;
